* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  widows: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
}

ul {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

li {
  margin: 0 1rem;
}

.container {
  max-width: 980px;
  margin: 0 auto;
}

.booking {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.booking label {
  margin-bottom: 1rem;
}

.booking__showcase {
  width: 480px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.booking__showcase li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.booking__showcase li div {
  margin: 1rem auto;
}

.booking--screen {
  height: 100px;
  width: 300px;
  background-color: #2aa3e99d;
  margin-bottom: 2rem;
}

.booking__row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 1rem;
}

.booking__total {
  height: 150px;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.513);
  color: #fff;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2rem;
  padding: .5rem;
}

.name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.buy {
  background-color: red;
  color: #d4d0d0;
  outline: none;
  border: none;
  text-align: center;
  font-weight: 700;
  font-size: 1rem;
  padding: .5rem;
}

.border {
  width: 368px;
  border: 1px solid red;
}

.seat {
  height: .8rem;
  width: 1.2rem;
  background-color: #999;
  border-radius: 5px 5px 0 0;
  margin: 4px;
}

.occupied {
  background-color: greenyellow;
}

.selected {
  background-color: #1f83e0;
}
/*# sourceMappingURL=style.css.map */