*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    widows: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    font-size: 1.5rem;
}

ul{
    margin-top: 1rem;
    margin-bottom: 1rem;

    display: flex;
    list-style: none;
}

li{
    margin:0 1rem;
}

.container{
    max-width: 980px;
    margin: 0 auto;

}
.booking{
    display: flex;
    flex-direction: column;
    text-align: center;

    // margin-top: 20rem;

    & label{
        margin-bottom: 1rem;
    }

    &__showcase{
        width: 480px;
        display: flex;
        justify-content: center;

        & li{
            display: flex;
            flex-direction: column;            

        }

        & li div{
           margin: 1rem auto;

        }
      }   

    &__row{
       display: flex;
       justify-content: center;
    }

    &--screen{
        height: 100px;
        width: 300px;

        background-color: #2aa3e99d;
        margin-bottom: 2rem;
    }
}
.seat{
    // border: 5px solid #999;
    height: .8rem;
    width: 1.2rem;

    background-color: #999;
    border-radius: 5px 5px 0 0;

    margin: 4px;
}

.occupied{
    background-color: greenyellow;
}
.selected{
    background-color:  #1f83e0;
}